<html>

  <head>

    <title>A journey of mine</title>
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="shortcut icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="shortcut icon" href="/favicon.ico">

  </head>

<body class="home">

  {% extends "proyecto_web_app/base.html" %}

  {% load static %}

  {% block content %}

  <section class="page-section clearfix">
    <div class="container">
      <div class="intro">

            <img class="intro-img img-fluid mb-5 mb-lg-2 rounded" src="{% static 'proyecto_web_app/img/Home/HomeIntro.jpg' %}" alt="HomeIntro">

            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4" >
                <i class="bi bi-camera2"></i>
                <span class="section-heading-upper">desde mi lente a tus ojos</span>
                <span class="section-heading-lower">bienvenido</span>
              </h2>
              <p class="mb-3">En este lugar encontrarás como veo yo esta gran Ciudad de Buenos Aires a través de mi lente.
              </p>
            </div>

        </div>

      </div>
    </div>
  </section>

    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 text-center mx-auto">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Este sitio ha sido desarrollado y fundado por:</span>
                <span class="section-heading-lower">Ezequiel Linardelli</span>
              </h2>
              <p class="mb-0" style="font-size: 20">Web developer junior y fotógrafo, para saber mas sobre mi
                <a href="{% url 'aboutme' %}" class="link" style="color: grey;">click aqui</a>
                .
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

  {% endblock %}

</body>


</html>