<html>

<title>

    Blog

</title>

<body class="blog">
    
    {% extends "proyecto_web_app/base.html" %}

    {% load static %}
  
    {% block content %}

        {% for post in posts %}

        <section class="page-section clearfix">
            <div class="container">
                <div class="intro">
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{post.img.url}}" alt="img-post" style="width: 50%;">
                    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4" >
                            <span class="section-heading-upper" style="font-size: 0.8em;">{{post.title}}</span>
                            <p class="lead fw-normal" style="font-size: 0.5em;">{{post.content}}</p>
                        </h2>

                        <div style="text-align: left; font-size: 0.7em; padding-top: 5em;">
                            Autor: {{post.author}} <br>
                            Enlace: 
                            <a href="{{ post.site }}" class="link">{{ post.site }}</a>
                        </div>

                    </div>  
                </div>
            </div>
        </section>

        {% endfor %}

        <section>

            <div class="container" style="width: 50%; margin: auto; padding-bottom: 4em; text-align: center; color: #ffffef;">
              <p class="m-0 mbt">

                Categorias:

                {% for post in posts %}

                    {% for category in post.categories.all %}

                    <a href="{% url 'category' category.id %}" class="link">{{category.name}}</a> ·

                    {% endfor %}

                {% endfor %}

                <a href="{% url 'blog' %}" class="link">Todos</a>

              </p>
            </div>

    </section>

    <button type="button" class="btn btn-secondary justify-content-center align-content-between" id="btn-back-to-top">
        
        <i class="bi bi-arrow-up"></i>
    
    </button>

    {% endblock %}

</body>

</html>